.appRoot {
  position: relative;
}

.appHeader {
  width: 100%;

  .siteName {
    flex-grow: 1;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.6;
    margin: 0 0 2px;

    a {
      color: rgb(255, 255, 255);
    }
  }
}

.appFooter {
  background-color: rgb(31, 31, 31);
  color: rgba(0, 0, 0, 0.87);
  text-align: center;
  flex: 0 1 auto;
  flex-wrap: wrap;
  transition-duration: 0.2s;
  transition-property: background-color, left, right;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  a {
    color: rgb(170, 170, 170);

    &:hover,
    &:active {
      color: rgb(255, 255, 255);
    }
  }
}

.justifyCenter {
  justify-content: center;
}

.appMain {
  padding: 20px 16px;
  width: 100%;
}

body {
  .appBar {
    background: rgb(40, 40, 42);
  }

  .navLink {
    color: rgb(221, 221, 221);

    &:hover,
    &:active {
      color: rgb(255, 255, 255);
    }

    button {
      border-radius: 2px;
      font-family: "Roboto Condensed", sans-serif;
      font-size: 1rem;
      font-weight: 700;
    }
  }

  .drawerPaper {
    background: rgb(175, 11, 28);
    color: rgb(255, 255, 255);

    .drawerContentWrap {
      width: 240px;
    }

    .drawerContentHeader {
      background: rgb(63, 81, 181);
      padding: 13px 20px 10px;
      text-transform: uppercase;
      font-weight: 500;
    }

    .drawerContentList {
      > a {
        color: rgb(255, 255, 255);
      }
    }

    .drawerItemIcon {
      color: rgb(255, 255, 255);
      min-width: 46px;
    }

    .drawerSvgIcon {
      font-size: 1.25rem;
    }
  }

  .caption {
    font-size: 0.75rem;
    font-weight: 500;
    letter-spacing: 0.0333333333em;
    line-height: 1.25rem;
  }
}

.footerDiv1 {
  padding: 12px 0;
  background-color: rgb(32, 35, 42);
  color: rgb(204, 204, 204);
}

.footerDiv2 {
  color: rgb(222, 222, 222);
  padding: 12px 0;
}

@media (min-width: 600px) {
  .appBar {
    .appBarToolbar {
      padding-left: 28px;
      padding-right: 28px;
    }
  }

  .appMain {
    padding: 64px 28px 22px;
  }
}
